:root {
  --color-white: #ffffff;
  --color-grayish-purple: #e0e4fb;
  --color-grayish-white: #f9f9fb;
  --color-green: #34d59d;
  --color-red: #ec5555;
  --color-strong-orange: #ff9100;
  --color-orange: #ff9999;
  --color-purple: #7b5cfa;
  --color-light-purple: #9175ff;
  --color-dark-purple: #7e88c4;
  --color-semi-gray: #888eaf;
  --color-dark-gray: #373b53;
  --color-very-light-black: #252946;
  --color-dif-very-light-black: #252946;
  --color-light-black: #1e2139;
  --color-nearly-black: #141624;
  --color-darkest: #0d0e17;
}

body, html{
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-nearly-black);
}

h1{
  color:var(--color-white);
  font-size: 50px;
}

.boxBill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}

.subtotal{        
  display: inline-block;
  align-items: flex-end;
  justify-content: end;
}


.widgetLgButton{
  padding: 7px 10px;
  border : none;
  border-radius: 10px !important;
  font-weight: 600;
}

.widgetLgButton.done{
  background-color: rgb(52, 213, 157, 0.3);
  color: #3bb077;
}

.widgetLgButton.pending{
  background-color: rgb(236, 85, 85,0.3);
  color: var(--color-red);
}

.widgetLgButton.due{
  background-color: rgb(255, 145, 0, 0.3);
  color: var(--color-strong-orange);
}

a{
  text-decoration:none
}

table{
  background-color: var(--color-dif-very-light-black);
  border-radius: 10px;
}

.firstLine{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowForward{
  color: var(--color-purple);
  transition: transform 0.2s;
}

.arrowForward:hover{
  transform: scale(1.2);
}





